<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="container text-end mt-2">
      <button (click)="drawer.close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="p-3">{{ explanation }}</p>
  </mat-drawer>

  <mat-drawer-content>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-7">
            <app-chat-history
              (explainQuestion)="explanation = $event; drawer.toggle()"
            />
          </div>
            <div class="col-5">
                <div class="h-50">
                    <h3 class="text-center">Customer data</h3>
                </div>
                <div class="h-50">test</div>
            </div>
        </div>
      </div>
      <app-prompt-input />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
