<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="container text-end mt-2">
      <button (click)="drawer.close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
      @for (e of explanation; track explanation) {
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">Explanation</h3>
              <p>{{ e }}</p>
            </div>
          </div>
        </div>
      }
    <p class="p-3"></p>
  </mat-drawer>

  <mat-drawer-content>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-7">
            <app-chat-history
              (explainQuestion)="explanation = $event; drawer.toggle()"
            />
          </div>
          <div class="col-5">
            <div class="h-50">
              <h3 class="text-center">Customer data</h3>
              <div class="container">
                <div class="row">
                  @for (
                    userProperty of userData$ | async;
                    track userProperty.key
                  ) {
                    <div class="col-6">
                      <p>
                        <span class="fw-bold">{{
                          userProperty.key | userPropertiesKey
                        }}</span>
                        : {{ userProperty.value }}
                      </p>
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="h-50">DUC PUT YOUR STUFF HERE</div>
          </div>
        </div>
      </div>
      <app-prompt-input />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
